<div class="contact-info" id="contact">
    <div class="contact-description">
        <h3>Contacts: </h3>
        <p>Send me a message on my <a href="/">Linkedin</a> or you can send me an email with the form:</p>
    </div>
    <div class="contact-form">
        <form action="/" method="post">
            <label for="">Your Email Adress:</label><br>
            <input type="email" placeholder="youremail@host.com"><br>
            <label for="">Email Subject:</label><br>
            <input type="text" placeholder="I want to know more about X"><br>
            <label for="">Email Body:</label><br>
            <input type="text" placeholder="Describe X subject" id="email-body"><br><br>
            <button>Send</button>
        </form>
    </div>
</div>
