
.contact-info {
    background-color: whitesmoke;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.contact-description {
    margin: 30px;
    text-align: center;
}
