
.contact-info {
    background-color: var(--current-line);
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.contact-description {
	color: var(--foreground);
    margin: 30px;
    text-align: center;
}

.contact-description a {
	text-decoration: none;
	color: var(--purple);
	&:hover {
		color: var(--cyan);
	}
}