.about-me {
    background-color: whitesmoke;
    border-radius: 50px;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}

.about-me h1, a {
    margin: 20px 60px 20px 30px;
}

.img-profile {
    width: 400px;
    border-radius: 50%;
}