<div class="about-me" id="about-me">
    <div class="about-me-description">
        <h1 class="about-me-description-text"><span id="type-text"></span><span class="cursor">|</span></h1>
    </div>
    <div class="about-me-picture">
        <img src="assets/Gabriel-Araujo-Anime.png" alt="Gabriel-Araujo-profile-picture" class="img-profile" draggable="false">
    </div>
    <div class="personal-links">
        <a href="https://www.linkedin.com/in/pro-gabrielteixeira/" target="_blank" class="linkedin-link"><i class="fab fa-linkedin"></i> Linkedin</a> 
        <a href="https://github.com/pro-gabrielteixeira" target="_blank" class="github-link"><i class="fab fa-github"></i> Github</a> 
    </div>
</div>
