.about-me {
    background-color: var(--current-line);
    border-radius: 50px;
    margin: 30px auto;
    align-items: center;
    width: 95%;
    height: 30rem;
}

.about-me h3 {
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 20px;
}

.about-me-info {
	display: flex;
	justify-content: space-between;
}

.about-me-description {
	margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
	padding: 1rem;
}

.about-me-description-text {
	line-height: 4rem;
    font-size: 1.5rem;
	height: 70%;
	color: var(--foreground);
	align-content: center;
}

.cursor {
    display: inline-block;
    animation: blink 0.7s steps(1) infinite;
	color: var(--cyan);
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.about-me-picture {
	margin: 0 auto;
    width: 30%;
	padding: 1rem;
    text-align: center;
	align-content: center;
}

.img-profile {
    border-radius: 50px;
	padding: 1rem;
	width: 90%;
	max-height: 19rem;
	max-width: 19rem;
	
}

.personal-links {
	margin: 30px auto;
    text-align: center;
    width: 30%;
	padding: 2rem;
	align-content: center;

}

.personal-links a {
    display: block;
    padding: 1.5rem;
    border: 1px solid var(--purple);
	color: var(--purple);
    margin: 1rem;
    border-radius: 50px;
    text-decoration: none;
    font-size: large;

	&:hover {
		transition: all 0.3s ease;
		transform: scale(1.1);
		color: var(--pink);
		box-shadow: 0 4px 15px var(--purple);
	}
}

@media (max-width: 864px) {
    .about-me {
        margin: 20px auto;
        align-items: center;
		align-content: center;
        width: 90%;
        height: 60rem;
		display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
	
	.about-me-info {
		height: 55rem;
		display: flex;
        flex-direction: column;
        justify-content: space-around;
	}
    
	.about-me h3 {
		width: 90%;
	}

    .about-me-description {
        width: 90%;
		height: 30%;
		margin: 0 auto;
		padding: 0;
    }
	
	.about-me-description-text {
		line-height: 4rem;
		font-size: 1.5rem;
		height: 100%;
		color: var(--foreground);
	}

    .about-me-picture {
		width: 90%;
		margin: 0 auto;
		height: 30%;
    }
    
    .personal-links {
		width: 90%;
		margin: 0 auto;
		height: 30%;
    }

	.img-profile {
		width: 100%;
		margin: 0;
	}
}
