.navbar {
    position: sticky;
    top: 10px;
    // width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    align-items: center;
    border-radius: 50px;
    margin: 30px;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 20px;
}

.nav-list li {
    list-style: none;
    cursor: pointer;
}

.nav-list li:hover {
    color: darkslategrey;
}

.navbar a {
    margin-left: 30px;
}