<nav class="navbar" id="navbar">
    <div>
        <img src="../../../assets/Logo-Gabriel-Araujo.png" alt="Logo-Gabriel-Araujo" draggable="false" class="logo-img" id="logo" (click)="sectionClick('navbar')">
    </div>

    <div class="div-hello-world" id="hello-world">
        <p>&lt;p&gt; Hello, World!&lt;/p&gt;</p>
    </div>

    <div>
        <ul class="nav-list">
            <li (click)="sectionClick('about-me')" >About me</li>
            <li (click)="sectionClick('projects')" >Projects</li>
            <li (click)="sectionClick('skills')" >Skills</li>
            <li (click)="sectionClick('contact')" >Contact</li>
        </ul>
    </div>
</nav>

<button class="scroll-to-top" (click)="sectionClick('navbar')" ngIf="showScrollToTop">⬆️</button>
