
.navbar {
    position: sticky;
    top: 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--current-line);
    align-items: center;
    border-radius: 50px;
    transition: all 0.5s ease;
    border: 0;
    margin: 10px auto;
    padding: 0 30px;
    width: 90%;
    flex-wrap: wrap;
}

.scroll-to-top {
	display: flex;
	justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
	align-items: center;
	background-color: var(--purple);
	color: var(--foreground);
	cursor: pointer;
	transition: all 0.3s ease;

	&:hover {
		background-color: var(--comment);
		box-shadow: 0 4px 15px var(--purple);
	}
}


@media (min-width: 864px) {
    .scroll-to-top {
        display: none;
    }
}

@media (max-width: 864px) {
    .navbar {
        position: static;
        flex-direction: column;
        justify-content: space-around;
        padding: 5px;
        width: 95%;
        top: 0;
        margin: 5px auto;
    }

}

.navbar.shrink {
    padding: 0 10px;
    margin: 3rem auto;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    width: 18rem;
    margin: 0;
    padding: 1rem;
    border-radius: 50px;
}

.nav-list li {
    list-style: none;
    cursor: pointer;
	color: var(--foreground);

	&:hover {
		color: var(--cyan);
		transform: scale(1.1);
		transition: all 0.3s ease;
	}
}

.logo-img {
    width: 10rem;
    border-radius: 50%;
    transition: all 0.3s ease; 
}

.logo-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.div-hello-world {
    text-align: center;
    font-size: 1.2rem;
    width: 15rem;
    font-weight: 500;
	color: var(--foreground);
}