<div class="project">
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Natus vitae distinctio voluptates! Porro, eius repudiandae. 
        Inventore quia iste laudantium debitis quidem soluta eum porro! Illo alias rerum ullam, 
        neque magnam obcaecati vero provident dolorum, ducimus fugit aperiam explicabo laborum 
        consequuntur amet veritatis enim expedita. Eaque et asperiores ipsa fugit eos commodi 
        maxime consequuntur at voluptas quas, deleniti vitae quam quidem recusandae voluptate, 
        voluptas eveniet at dolorum velit quaerat! </p>

        <a href="/">Check it out!</a>
</div>
