<div class="div-projects" id="projects">
	<h3>Projects</h3>

	<div>
		<app-project projectName="Java & Spring Boot: Web Application with JPA & Hibernate for CRUD Operations"
			projectDescription="Web application built with Spring Boot, JPA, and Hibernate, connected to a MySQL database. It handles user data through well-structured CRUD (Create, Read, Update, Delete) operations via RESTful APIs. The project demonstrates clean code practices, layered architecture, and proper entity relationships. Designed to show backend development skills in a real-world context."
			projectURL="https://github.com/pro-gabrielteixeira/web-Spring-Boot-JPA-Hibernate">
		</app-project>
		
	</div>
</div>