
.div-projects {
	margin: 30px auto;
    border-radius: 50px;
	width: 95%;
	background-color: var(--current-line);
	line-height: 1.6rem;
	font-size: 1.1rem;
}

.div-projects h3 {
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 20px;
}

app-project {
    width: 90%;
}

@media (max-width: 864px) {
	.div-projects {
		width: 90%;
	}
}