.work-in-progress {
	width: 100%;
	display: block;
	text-align: center;
	background-color: #f7ca18;
	color: #000;
	font-weight: bold;
	padding: 10px 0;
	font-size: 1.2em;
	text-transform: uppercase;
	transform: rotate(-2deg);
	position: relative;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	overflow: hidden;
	white-space: nowrap;
}

.work-in-progress p {
	display: inline;
	padding: 0 50px;
	flex-wrap: nowrap;
}
