<div class="skills-main" id="skills">
    <div class="skills-description">
        <h3>My skills:</h3>
        <p>Focused on backend with Java with Spring Boot and Front End with Angular.</p>
        <p>During my learning path I got foudation in C, creating librarys and even my own printf function</p>
        <p>Learned and fell in love with Docker, no more "on my machine it runs" problem and I could also use Docker to create an seamless
            envarioment for MySQL
        </p>        
    </div>
    <div>
        <img class="skills-img" src="./../../../assets/java-spring-boot-JavaScript-Angular-HTML-CSS-C-Lang-Docker-SQL.png" alt="java-spring-boot-JavaScript-Angular-HTML-CSS-C-Lang-Docker-SQL">
    </div>
</div>
