
.skills-main {
    margin: 30px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    border-radius: 50px;
}

.skills-description {
    // display: flex;
    // justify-content: center;
    text-align: center;
    margin: 30px;
}

.skills-img {
    border-radius: 50px;
    width: 800px;
}