
.skills-main {
    margin: 30px auto;
    display: flex;
	width: 95%;
    justify-content: space-around;
    background-color: var(--current-line);
    border-radius: 50px;
}

.skills-description {
	color: var(--foreground);
	display: block;
    text-align: center;
    margin: 30px auto;
    width: 45%;
	line-height: 1.6rem;
	font-size: 1.1rem;
}

.skills-img-div {
	display: block;
	margin: 30px auto;
	width: 45%;
	align-content: center;
}

.skills-img {
	border-radius: 50px;
	width: 90%;
	box-shadow: -2px 5px var(--background);
}

@media (max-width: 864px) {
	.skills-main {
        margin: 20px auto;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 90%;
    }

	.skills-description {
		width: 90%;
	}

	.skills-img-div {
		width: 95%;
	}
	
	.skills-img {
		width: 100%;
	}
}