/* You can add global styles to this file, and also import other style files */
:root {
	--background: #282a36;
	--current-line: #44475a;
	--foreground: #f8f8f2;
	--comment: #6272a4;
	--cyan: #8be9fd;
	--purple: #bd93f9;
	--pink: #ff79c6; 
  }

body {
    font-family: raleway;
    overflow-x: hidden;
    overflow-y: auto;
	background-color: var(--background);
	color: var(--foreground);
	max-width: 2000px;
	margin: auto;
}

.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }