/* You can add global styles to this file, and also import other style files */

body {
    font-family: raleway;
    overflow-x: hidden;
    overflow-y: auto;
}

.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }